{{!< default}}

<div class="inner">
    <style>
        @media screen and (max-width: 736px) {
            #main>.inner {
                padding: 0 2em .1em 2em
            }

            section.desc {
                padding: 0 2em .1em 2em
            }

            #main>.inner>section {
                padding: 3em 0 1em 0
            }

            header img#logo {
                width: 20%;
            }
        }

        .author-profile-image {
            width: 200px!important;
            height: 200px!important;
        }


    </style>

    <div class="site-header-content post-card mt-5">
        <img class="author-profile-image img-responsive" src="https://akademik.unnes.ac.id/foto/tampil_foto_wisuda.php?id=1550406065;22013" alt="pic" />

        <h1 class="site-title">Anantyo Seto</h1>
        <h2 class="author-bio">Founder</h2>
        
    </div>

    <div class="row">
        <div id="phone" class="col-md-4 text-center mb-5">
            <a href="tel:081226006229">
                
                <h2><i class="fa fa-phone"></i> Telp</h2>
            </a>
        </div>
        <div id="mail" class="col-md-4 text-center mb-5">
            <a href="">
                <h2><i class="fa fa-envelope"></i> Email</h2>
            </a>
        </div>
        <div id="wa" class="col-md-4 text-center mb-5">
            <a href="https://wa.me/6281226006229">
                <h2><i class="fab fa-whatsapp"></i> WhatsApp</h2>
            </a>
        </div>
    </div>
    <section class="my-5">
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.</h5>
        <h5><i class="fas fa-phone"></i> : 081226006229 | <i class="far fa-envelope"></i> : </h5>
    </section>

</div>